/* 红色字体 */
.red-text {
    color: red;
}

/*蓝色字体*/
.blue-text {
    color: blue;
}

/*蓝色加粗*/
.custom-blue-text {
    color: blue;
    font-weight: bold;
}

/*蓝色加粗*/
.custom-red-text {
    color: red;
    font-weight: bold;
}

/*2倍居中*/
.large-center-text {
    font-size: 2em;  /* 调整字体大小，比如2倍标准大小 */
    text-align: center;  /* 文本居中 */
    margin: 20px 0;  /* 上下留一些空白，增强视觉效果 */
}

/*居中*/
.center-text {
    font-size: 0.75em;
    text-align: center;  /* 文本居中 */
    margin: 10px 0;  /* 上下留一些空白，增强视觉效果 */
}

/*主标题*/
.title-box h1 {
    color: #3498db; /* 标题颜色 */
    font-size: 2em; /* 标题字体大小 */
    margin-bottom: 10px; /* 与副标题的距离 */
}

/*副标题*/
.title-box h2 {
    color: #5dade2; /* 副标题颜色 */
    font-size: 1.5em; /* 副标题字体大小 */
    font-style: italic; /* 斜体 */
    margin-top: 0; /* 减少顶部的间距 */
}

/*引用*/
.refer {
    font-size: 0.90em;
    margin-top: 0;
    font-family: "KaiTi", "STKaiti", serif;
}